@import '../../assets/style/mixin.scss';

.content-one-container {
    width: 100%;
    height: 51rem;
    background-color: #fbddd1;
    padding: 2rem 0;
    @include pd(2%);
    position: relative;

    .content-one-header {
        width: 100%;
        height: 10%;
        .content-one-header-list-item {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content-one-header-item {
                width: 24%;
                height: 80%;
                @include boxCenter();
                a {
                    padding: 6px;
                    font-size: 1.6rem;
                    color: #000;
                    font-weight: 500;

                    &:hover {
                        background: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 60%,#FDD944 60%,#fdd8447a 100%) !important;
                    }
                }
            }
        } 
    }

    .content-one-logo {
        width: 30rem;
        height: 18rem;
        background-image: url('../../assets/img/contentone.png');
        background-size: 100%;
        background-position: center;
        position: absolute;
        top: 1rem;
        right: 3rem;
    }

    .content-one-body {
        width: 100%;
        height: 90%;
        @include boxCenter();

        .content-one-body-wrapper {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content-one-body-first {
                width: 50%;
                height: 100%;
                position: relative;
                @include boxCenter(); 
                img {
                    width: 60%;
                    z-index: 100;
                    border-radius: 50%;
                    box-shadow: -14px 16px #2b328a ;
                } 
            }
            
            .mobile {
                .content-one-logo {
                    display: none;
                }
            }

            .content-one-body-last {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;

                .content-one-body-last-wrapper {
                    width: 100%;
                    height: 80%;
                    
                    margin-left: -2rem;
                    .content-one-body-last-header {
                        margin-left: -4rem;
                        width: 100%;
                        height: 50%;
                        @include boxCenter();
                        flex-direction: column;
                        .content-one-body-last-header-text-1 {
                            width: 100%;
                            height: 30%;
                            display: flex;
                            align-items: center;
                            margin-left: -20rem;
                            z-index: 1000;
                            h1 {
                                font-size: 4.4rem;
                                color: rgba(47,53,137,1);
                            }
                        }
                        .content-one-body-last-header-text-2 {
                            margin-top: 2rem;
                            width: 100%;
                            height: 30%;
                            display: flex;
                            align-items: center;
                            h1 {
                                font-size: 5rem;
                                color: rgba(47,53,137,1);
                            }
                        }
                    }

                    .content-one-body-last-body {
                        width: 100%;
                        height: 50%;
                        .content-one-body-last-body-text {
                            width: 100%;
                            height: 50%;
                            @include boxCenter();
                            span {
                                width: 86%;
                                font-size: 2rem;
                                line-height: 3rem;
                            }
                        }

                        .content-one-body-last-body-btn {
                            width: 100%;
                            height: 50%;
                            @include boxCenter();

                            .content-one-body-last-body-btn-wrapper {
                                width: 16rem;
                                height: 4rem;
                            }
                        }
                    }
                }
            }
        }
        
    }

    @include responsive(min-destop) {
        .content-one-header {
            
            .content-one-header-list-item {
                width: 40%; 
            } 
        }
        .content-one-body {
            .content-one-body-wrapper {
                width: 90%;
                .content-one-body-first {
                    img {
                        width: 80%;
                    }
                }

                .content-one-body-last {
                    .content-one-body-last-wrapper {
                        .content-one-body-last-header {
                            margin-left: -2rem;
                        }
                    }
                }
            }
        }
    }
    @include responsive(tablet) {
        .content-one-header {
            
            .content-one-header-list-item {
                width: 50%; 
            } 
        }
        .content-one-body {
            .content-one-body-wrapper {
                width: 90%;
                .content-one-body-first {
                    img {
                        width: 80%;
                    }
                }

                .content-one-body-last {
                    .content-one-body-last-wrapper {
                        .content-one-body-last-header {
                            margin-left: -2rem;
                            .content-one-body-last-header-text-2 {
                                h1 {
                                    font-size: 5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include responsive(tablet-min) {
        height: 40rem;
        .content-one-header {
            
            .content-one-header-list-item {
                width: 50%; 
                .content-one-header-item {
                    a {
                        font-size: 1.4rem;
                    }
                }
            } 
        }

        .content-one-logo {
            width: 22rem;
            height: 12rem;
        }

        .content-one-body {
            .content-one-body-wrapper {
                width: 90%;
                .content-one-body-first {
                    img {
                        width: 76%;
                    }
                }

                .content-one-body-last {
                    .content-one-body-last-wrapper {
                        .content-one-body-last-header {
                            margin-left: -1rem;
                            .content-one-body-last-header-text-1 {
                                margin-left: -16rem;
                                h1 {
                                    font-size: 3rem;
                                }
                            }
                            .content-one-body-last-header-text-2 {
                                h1 {
                                    font-size: 3.6rem;
                                }
                            }
                        }

                        .content-one-body-last-body {
                            .content-one-body-last-body-text {
                                span {
                                    font-size: 1.6rem;
                                    line-height: 2.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include responsive(phone) {
        height: 60rem;

        .web {
            display: none;
        } 

        .content-one-header {
            .content-one-header-list-item {
                width: 100%;

                .content-one-header-item {
                    a {
                        font-size: 1.4rem;
                    }
                }
            }

        }

        .content-one-body {
            .content-one-body-wrapper {
                flex-direction: column;

                .content-one-body-first {
                    width: 100%;
                    height: 50%;

                    img {
                        width: 80%;
                        box-shadow: none;
                    }

                }
                .mobile {
                    position: relative;
                    display: flex; 
                    
                    .content-one-logo {
                        display: block;
                        width: 16rem;
                        height: 18rem;
                        background-image: url('../../assets/img/contentone.png');
                        background-size: 100%;
                        background-position: center;
                        position: absolute;
                        background-repeat: no-repeat;
                        top: 0rem;
                        left: -4rem;
                        z-index: 100;
                    }
                }

                .content-one-body-last {
                    width: 100%;
                    height: 50%;

                    .content-one-body-last-wrapper {
                        margin: 0;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .content-one-body-last-header { 
                            height: 60%;
                            margin: 0;
                            .content-one-body-last-header-text-1 {
                                margin: 0;

                                h1 {
                                    font-size: 3rem;
                                }
                            }

                            .content-one-body-last-header-text-2 {
                                h1 {
                                    font-size: 3rem;
                                }
                            }
                        }

                        .content-one-body-last-body {
                            height: 20%;
                        }
                    }
                }
            }
        }

    }
}