@import '../../assets/style/mixin.scss';

.content-eight-container {
    width: 100%;
    height: 75rem;
    @include boxCenter();
    background-color: #fbddd1;
    .content-eight-wrapper {
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .content-eight-header {
            width: 100%;
            height: 10%;
            @include boxCenter();
            h2 {
                font-size: 3rem;
                padding: 0 1rem;
                color: rgba(47,53,137,1);
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #FDD944 50%, #FDD944 100%) !important;
            }
        }

        .content-eight-body {
            margin-top: 6rem;
            width: 100%;
            height: 70%;
            @include boxCenter();
            .content-eight-body-list-item {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                .content-eight-body-item {
                    width: 31%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border: 2px solid rgba(60,114,184,1);
                    position: relative;
                    padding: 4rem 2rem;
                    padding-bottom: 1rem;
                    background-color: rgba(255,255,255,1);

                    .content-eight-body-item-icon {
                        width: 11rem;
                        height: 11rem;
                        @include boxCenter();
                        background-color: #fbda43;
                        border-radius: 50%;
                        position: absolute;
                        top: -7rem;
                        left: 32%;
                        span {
                            font-size: 5rem;
                            font-weight: 900;
                        }
                    }

                    .content-eight-body-item-first {
                        height: 20%;
                        width: 100%;
                        @include boxCenter();
                        span {
                            font-size: 2rem;
                            font-weight: 700;
                            text-align: center;
                            color:rgba(60,114,184,1);
                        }
                    }

                    .content-eight-body-item-last {
                        width: 100%;
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .content-eight-body-item-last-1 {
                            width: 100%;
                            height: 50%;
                            @include boxCenter();
                            span {
                                font-size: 2rem;
                                line-height: 2.4rem;
                                text-align: center;
                            }
                        }

                        .content-eight-body-item-last-2 {
                            width: 100%;
                            height: 50%;
                            @include boxCenter();
                            span {
                                font-size: 2rem;
                                line-height: 2.4rem;
                                text-align: center;
                            }
                        }
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.34);
                    }
                }
            }
        }
    }

    @include responsive(min-destop) {
        .content-eight-wrapper {
            width: 80%;
        }
    }

    @include responsive(tablet) {
        .content-eight-wrapper {
            width: 80%;
            .content-eight-header {
                h2 {
                    font-size: 2.6rem;
                }
            }
        }
    }

    @include responsive(tablet-min) {
        height: 60rem;
        .content-eight-wrapper {
            width: 90%;
            justify-content: space-around;
            .content-eight-header {
                h2 {
                    font-size: 2rem;
                }
            }

            .content-eight-body {
                height: 60%;

                .content-eight-body-list-item {
                    .content-eight-body-item {
                        width: 32%;
                        padding: 4rem 1rem;
                        .content-eight-body-item-icon {
                            width: 7rem;
                            height: 7rem;
                            top: -4rem;
                            left: 34%;
                            span {
                                font-size: 4rem;
                                font-weight: 700;
                            }
                        }
                        .content-eight-body-item-first {
                            span {
                                font-size: 1.6rem;
                            }
                        }
                        .content-eight-body-item-last {
                            .content-eight-body-item-last-1 {
                                span {
                                    font-size: 1.3rem;
                                    line-height: 2rem;
                                    font-weight: 500;
                                }
                            }
                            .content-eight-body-item-last-2 {

                                span {
                                    font-size: 1.3rem;
                                    line-height: 2rem;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}