@import '../../assets/style/mixin.scss';

.content-eight-container {
    width: 100%;
    height: 75rem;
    @include boxCenter();
    background-color: #fbddd1;
    .content-eight-wrapper {
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .content-eight-header {
            width: 100%;
            height: 10%;
            @include boxCenter();
            h2 {
                font-size: 3rem;
                padding: 0 1rem;
                color: rgba(47,53,137,1);
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #FDD944 50%, #FDD944 100%) !important;
            }
        }

        .content-eight-body {
            margin-top: 6rem;
            width: 100%;
            height: 70%;
            @include boxCenter();
            flex-direction: column;
            .content-eight-body-list-item {
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: space-between;
                .content-eight-body-item {
                    width: 31%;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid rgba(60,114,184,1);
                    position: relative;
                    padding: 4rem 2rem;
                    padding-bottom: 1rem;
                    background-color: rgba(255,255,255,1);

                    .content-eight-body-item-icon {
                        $widthBox : 10rem;
                        width: $widthBox;
                        height: $widthBox;
                        @include boxCenter();
                        background-color: #fbda43;
                        border-radius: 50%;
                        position: absolute;
                        top: -5rem;
                        left: calc(50% - $widthBox / 2);
                        
                        span {
                            font-size: 5rem;
                            font-weight: 900;
                        }
                    }

                    .content-eight-body-item-first {
                        height: 60%;
                        width: 100%;
                        @include boxCenter();
                        span {
                            font-size: 1.6rem;
                            line-height: 2rem;
                            font-weight: 700;
                            text-align: center;
                            color:rgba(60,114,184,1);
                        }
                    }

                    // .content-eight-body-item-last {
                    //     width: 100%;
                    //     height: 80%;
                    //     display: flex;
                    //     flex-direction: column;
                    //     align-items: center;
                    //     .content-eight-body-item-last-1 {
                    //         width: 100%;
                    //         height: 50%;
                    //         @include boxCenter();
                    //         span {
                    //             font-size: 2rem;
                    //             line-height: 2.4rem;
                    //             text-align: center;
                    //         }
                    //     }

                    //     .content-eight-body-item-last-2 {
                    //         width: 100%;
                    //         height: 50%;
                    //         @include boxCenter();
                    //         span {
                    //             font-size: 2rem;
                    //             line-height: 2.4rem;
                    //             text-align: center;
                    //         }
                    //     }
                    // }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.34);
                    }
                }
            }

            .content-eight-body-btn {
                width: 100%;
                height: 40%;
                @include boxCenter();
                .content-eight-body-btn-item {
                    width: 20rem;
                    height: 5rem;
                }
            }
        }
    }

    @include responsive(min-destop) {
        .content-eight-wrapper {
            width: 80%;
        }
    }

    @include responsive(tablet) {
        .content-eight-wrapper {
            width: 80%;
            .content-eight-header {
                h2 {
                    font-size: 2.6rem;
                }
            }
        }
    }

    @include responsive(tablet-min) {
        height: 60rem;
        .content-eight-wrapper {
            width: 90%;
            justify-content: space-around;
            .content-eight-header {
                h2 {
                    font-size: 2rem;
                }
            }

            .content-eight-body {
                height: 60%;

                .content-eight-body-list-item {
                    .content-eight-body-item {
                        width: 32%;
                        padding: 4rem 1rem;
                        .content-eight-body-item-icon {
                            width: 7rem;
                            height: 7rem;
                            top: -4rem;
                            left: calc(50% - 7rem / 2);
                            span {
                                font-size: 4rem;
                                font-weight: 700;
                            }
                        }
                        .content-eight-body-item-first {
                            span {
                                font-size: 1.2rem;
                                line-height: 1.6rem;
                            }
                        }
                        .content-eight-body-item-last {
                            .content-eight-body-item-last-1 {
                                span {
                                    font-size: 1.3rem;
                                    line-height: 2rem;
                                    font-weight: 500;
                                }
                            }
                            .content-eight-body-item-last-2 {

                                span {
                                    font-size: 1.3rem;
                                    line-height: 2rem;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include responsive(phone) {
        height: 1500px;
        .content-eight-wrapper {
            width: 90%;
            height: 100%;
            padding: 2rem 0;
            justify-content: space-around;
            .content-eight-header {
                height: 4%;
                h2 {
                    font-size: 3rem;
                    line-height: 3.6rem;
                    text-align: center;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #fdd84400 50%, #fdd84400 100%) !important;

                }
            }

            .content-eight-body {
                height: 90%;

                .content-eight-body-list-item {
                    width: 90%;
                    height: 90%;
                    flex-direction: column;

                    .content-eight-body-item {
                        width: 100%;
                        height: 20%;
                        padding: 4rem 1rem;
                        .content-eight-body-item-icon {
                            width: 10rem;
                            height: 10rem;
                            top: -6rem;
                            span {
                                font-size: 4rem;
                                font-weight: 700;
                            }
                        }
                        .content-eight-body-item-first {
                            margin-top: 2rem;
                            span {
                                font-size: 2rem;
                                line-height: 2.6rem;
                            }
                        }
                        .content-eight-body-item-last {
                            .content-eight-body-item-last-1 {
                                span {
                                    font-size: 1.6rem;
                                    line-height: 2.4rem;
                                    font-weight: 500;
                                }
                            }
                            .content-eight-body-item-last-2 {

                                span {
                                    font-size: 1.8rem;
                                    line-height: 2rem;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }

                .content-eight-body-btn {
                    height: 10%;
                
                }
            }
        }
    }
}