@import '../../assets/style/mixin.scss';

.content-sevent-container {
    width: 100%;
    height: 38rem;
    @include boxCenter();
    background-color: #fbddd1;
    .content-sevent-wrapper {
        width: 60%;
        height: 70%;
        display: flex;
        flex-direction: column;
        background-color: #fdefe9;
        justify-content: space-around;
        padding: 3rem 0;

        .content-sevent-header {
            width: 100%;
            height: 30%;
            @include boxCenter();
            span {
                width: 70%;
                font-size: 2rem;
                text-align: center;
                line-height: 3rem;
                font-weight: 500;
            }
        }

        .content-sevent-body {
            width: 100%;
            height: 30%;
            @include boxCenter();

            span {
                width: 80%;
                font-size: 2rem;
                text-align: center;
                line-height: 3rem;
                font-weight: 500;
            }
        }
    }

    @include responsive(tablet-min) {
        height: 26rem;

        .content-sevent-wrapper {
            width: 80%;
            height: 80%;

            .content-sevent-header {
                span {
                    width: 80%;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
            }

            .content-sevent-body {
                span {
                    width: 80%;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
            }
        }
    }

    @include responsive(phone) {
        height: 40rem;

        .content-sevent-wrapper {
            width: 90%;
            height: 80%;

            .content-sevent-header {
                span {
                    width: 80%;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
            }

            .content-sevent-body {
                span {
                    width: 80%;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
            }
        }
    }
}